ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 24px 0;
    margin: 0 auto;
    max-width: 1128px;
}

.gallery .gallery-item {
    width: 360px;
    height: 200px;
}

.gallery .gallery-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.gallery .gallery-item .gallery-image {
    width: 100%;
    height: 100%;
}